.header{
   display:flex;
  flex-direction: column;
  position:relative;
  height: 100vh;
  max-height: 800px;
  min-height: 720px;
  box-sizing: border-box;
  background-color: #ffffff;
  background-image: url(../images/background_header.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

}

.header__logo{
  padding-left: 30px;
   padding-top: 30px;
  width: 105px;
  height: 39px;
}

.header__content{
  display: flex;
  flex-direction: column;
  }


  .header__title{
    padding-left:80px;
    padding-top: 183px;
    max-width: 708px;
  }

  .header__span-accent{
    font-family: "Noto Serif";
    font-style: italic;
    font-weight: normal;
    font-size: 58px;
  line-height: 72px;
  color: #2F80ED;
  }

  .header__description{
    max-width: 683px;
    padding-left: 80px;
    padding-top: 28px;
    font-family: "Noto Serif";
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 30px;
  }

  .header__image {
  display: flex;
  flex-direction: column;
  width: 646px;
  height: 568px;
  position: absolute;
  top: 124px;
  right: 5px;
}
.header__schedule {
  display: flex;
  flex-direction: column;
  position: absolute;
  bottom: 40px;
  left: 80px;
}

.header__paragraph {
  font-family: "Inter", Arial, Sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #838383;
  margin: 0;
}

.header__address {
  position: absolute;
  right: 80px;
  bottom: 40px;
}